.image{

    &__interactiveLogo{
        position: absolute;
        max-width: 31.5%;
    }

    &__firstChar{
        margin-top: 20px;
        width: 300px;
        height: 220px;
    }

    &__secondChar{
        margin-top: 20px;
        width: 220px;
        height: 220px;
    }

    &__thirdChar{
        margin-top: 20px;
        width: 300px;
        height: 220px;
    }

    @media(max-width: 850px){
        &__firstChar{
            margin-top: 20px;
            width: 400px;
            height: 290px;
        }
    
        &__secondChar{
            margin-top: 20px;
            width: 300px;
            height: 300px;
        }
    
        &__thirdChar{
            margin-top: 20px;
            width: 400px;
            height: 290px;
        }
    }

    &__social{
        margin-left: 0px;
        margin: 0px 10px;
    }

    @media(max-width: 1080px){

        &__interactive{
            max-width: 350px;
        }

        &__interactiveLogo{
            position: absolute;
            max-width: 350px;
            top: 0px;
        }
    }

    @media(max-width: 400px){
        &__interactive{
            width: 80%;
        }

        &__interactiveLogo{
            width: 80%;
        }

        &__firstChar{
            margin-top: 20px;
            width: 80%;
            height: 80%;
        }
    
        &__secondChar{
            margin-top: 20px;
            width: 80%;
            height: 80%;
        }
    
        &__thirdChar{
            margin-top: 20px;
            width: 80%;
            height: 80%;
        }
    }
}


