.image{

    &__interactiveLogo{
        position: absolute;
        max-width: 31.5%;
    }

    &__firstChar{
        margin-top: 20px;
        width: 300px;
        height: 220px;
    }

    &__secondChar{
        margin-top: 20px;
        width: 220px;
        height: 220px;
    }

    &__thirdChar{
        margin-top: 20px;
        width: 300px;
        height: 220px;
    }

    &__social{
        margin-left: 20px;
    }

    @media(max-width: 1080px){

        &__interactive{
            max-width: 350px;
        }

        &__interactiveLogo{
            position: absolute;
            max-width: 350px;
            top: 0px;
        }
    }

}
