.image{

    &__interactive{
        width: 500px;
        height: 500px;

        &--Black{
            display: none;
        }

        &--Red{
            display: none;
        }

        &--Blue{
            display: none;
        }

        &--Yellow{
            display: none;
        }

        &--Green{
            display: none;
        }

        &--Orange{
            display: none;
        }

        &--Brown{
            display: none;
        }
    }

    &__firstChar{
        margin-top: 20px;
        width: 300px;
        height: 220px;
    }

    &__secondChar{
        margin-top: 20px;
        width: 220px;
        height: 220px;
    }

    &__thirdChar{
        margin-top: 20px;
        width: 300px;
        height: 220px;
    }

    &__social{
        margin-left: 20px;
    }


    
}
