.input{
    width: 335px;
    height: 40px;
    border-radius: 7px;
    margin-bottom: 20px;
    border-width: 1px;

    &__checkBox{
        width: 18px;
        height: 18px;
    }

    &__details{

        height: 200px;
        border-radius: 7px;
        margin-bottom: 20px;
        border-width: 1px;
    }

    @media(max-width: 1150px){
        height: 35px;
        width: 270px;
    }

    @media(max-width: 850px){
        height: 40px;
        width: 335px;
    }

    @media(max-width: 400px){
        width: 250px;
        height: 35px;
        margin: 0px;
        
    }

    
}
