.mainHeader{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: #0000004f solid 1px;

    &__logoCont{
        width: 100px;
        margin-right: 30px;
    }

    &__logo{
        min-width: 100px;
        height: 90px;
        padding: 15px 0px 15px 30px;
    }

    &__nav{
        width: 90%;
        display: flex;
        padding: 0; 
    }

    &__navDiv{
        display: flex;
        width: 50%;
        align-items: center;
    }


    &__navItem{
        margin-right: 50px;
        color: $textBlack;

        p{
            font-weight: 500;
            font-family: 'Dosis', sans-serif;
            font-size: 22px;
        }

    }

    .loginNav{
        margin-right: 30px;
        color: $textBlack;
        
        p{
            font-weight: 500;
            font-family: 'Dosis', sans-serif;
            font-size: 22px;
        }
    }

    &__inputDiv {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        align-items: center;
    }

    &__input{
        border-radius: 7px;
        height: 30px;
        border-width: 1px;
        margin-right: 30px;
    }

    &__searchIcon{
        position: absolute;
        height: 20px;
        width: 20px;
        right: 190px;
        top: 5px;

    }

.move{
    position: absolute;
        height: 20px;
        width: 20px;
        right: 130px;
        top: 22px;
}

    &__bagIcon{
        width: 20px;
        height: 27px;
    }

    &__menuIcon{
        display: none;
    }

    @media(max-width: 1150px){
        p{
            font-size: 20px;
        }
    }

}

@media(max-width: 850px){

    .mainHeader{
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: #0000004f solid 1px;
    
        &__logoCont{
            width: 100px;
        }
    
        &__logo{
            min-width: 100px;
            height: 90px;
            padding: 15px 0px 15px 30px;
        }
    
        &__nav{
            display: flex;
            justify-content: flex-end;
            padding-right: 30px;
        }
    
        &__navDiv{
            display: none;
        }
    
    
        &__navItem{
            display: none;
    
        }
    
        &__inputDiv {
            display: flex;
            position: relative;
        }
    
        &__input{
            display: none;
        }
    
        &__searchIcon{
            position: absolute;
            height: 40px;
            width: 40px;
            top: 0px;
            right: 130px;
    
        }

        &__menuIcon{
            display: flex;
            height: 40px;
            width: 55px;
        }
    
    }        
}

@media(max-width: 650px){

    .mainHeader{
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: #0000004f solid 1px;
    
        &__logoCont{
            width: 70px;
        }
    
        &__logo{
            min-width: 80px;
            height: 75px;
            padding: 15px 0px 15px 30px;
        }

        &__searchIcon{
            position: absolute;
            height: 30px;
            width: 30px;
            top: 0px;
            right: 90px;
    
        }

        &__menuIcon{
            display: flex;
            height: 30px;
            width: 45px;
        }
    
    }        
}

@media(max-width: 400px){

    .mainHeader{
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: #0000004f solid 1px;
    
        &__logoCont{
            width: 70px;
        }
    
        &__logo{
            min-width: 65px;
            height: 65px;
            padding: 15px 0px 15px 20px;
        }

        &__searchIcon{
            position: absolute;
            height: 20px;
            width: 20px;
            top: 0px;
            right: 60px;
    
        }

        &__menuIcon{
            display: flex;
            height: 20px;
            width: 30px;
        }
    
    }        
}




