.productContainer{
    display: flex;
    flex-direction: column;
    width: 75%;

    @media(max-width: 380px){
        width: 100%;
    }
}

.titles{
    position: relative;
    margin-top: 20px;

    &__background{
        width: 20%;
    }

    &__text{
        color: white;
        position: absolute;
        top: 5px;
        left: 40px;
    }

    @media(max-width: 380px){
        &__background{
            width: 50%;
        }

        &__text{
            color: white;
            position: absolute;
            top: -5px;
            left: 20px;
        }
    }

}

.productsList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;

}

.product{

    width: 20%;
    margin: 10px;
    position: relative;

    &__img{
        border-radius: 10px;

    }

    &__details{
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
        color: $textBlack;
        margin-top: 20px;
    }

    &__newProduct{
        height: 200px;
        width: 20%;
    }

    &__addBtn{
        width: 215px;
        height: 45px;
        background-color: $btnBlack;
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Dosis', sans-serif;
        border-radius: 6px;
        margin-right: 30px;

    }

    &__editBtn{
        width: 100px;
        height: 30px;
        background-color: $btnBlack;
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Dosis', sans-serif;
        border-radius: 6px;

    }

    &__deleteBtn{
        width: 100px;
        height: 30px;
        background-color: $btnBlack;
        color: white;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Dosis', sans-serif;
        border-radius: 6px;

    }

    &__name{
        font-weight: 500;
        font-family: 'Dosis', sans-serif;
        font-size: 21px;
    }

    &__price{
        font-size: 21px;
        font-weight: 700;
        font-family: 'Dosis', sans-serif;
    }

    @media(max-width: 380px){
        width: 40%;

        &__name{
            font-weight: 500;
            font-family: 'Dosis', sans-serif;
            font-size: 18px;
        }
    
        &__price{
            font-size: 18px;
            font-weight: 700;
            font-family: 'Dosis', sans-serif;
        }

        &__addBtn{
            width: 125px;
            height: 35px;
            background-color: $btnBlack;
            color: white;
            font-size: 16px;
            font-weight: 700;
            font-family: 'Dosis', sans-serif;
            border-radius: 6px;
            margin-right: 0px;
    
        }

        &__editBtn{
            font-size: 16px;
            font-weight: 700;    
        }

        &__deleteBtn{
            font-size: 16px;
            font-weight: 700;
        }

        &__newProduct{
            height: 130px;
            width: 40%;
        }

    }
}