.promo{
    display: flex;
    width: 100%;
    padding: 0px 30px;
    align-items: center;
    background: linear-gradient(90deg,#BFBFBF,#000000);
    position: relative;

    &__sidesCont{
        width: 20%;
    }

    &__centerCont{
        width: 60%;
        text-align: center;
    }
    

    &__cap{
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0px;
        top: -30px;
    }

    &__text{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: white;
    }

    
@media (max-width: 1300px){

    &__cap{
        position: absolute;
        width: 170px;
        height: 170px;
        right: 0px;
        top: -20px;
    }

    &__discount{
        width: 169px;
        height: 111px;
    }

    &__text{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        font-size: 23px;
        color: white;
    }
}

@media (max-width: 1150px){

    &__cap{
        position: absolute;
        width: 140px;
        height: 140px;
        right: 0px;
        top: -20px;
    }

    &__discount{
        width: 145px;
        height: 91px;
    }

    &__text{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: white;
    }
}

}


@media (max-width: 850px){

    .promo{
        padding-left: 20px;


        &__cap{
            position: absolute;
            width: 120px;
            height: 120px;
            right: 10px;
            top: -20px;
        }
    
        &__discount{
            width: 120px;
            height: 80px;
        }
    }

}

@media (max-width: 650px){

    .promo{
        padding-left: 20px;


        &__cap{
            position: absolute;
            width: 100px;
            height: 100px;
            right: 10px;
            top: -10px;
        }
    
        &__discount{
            width: 100px;
            height: 60px;
        }

        &__text{
            font-family: 'Dosis', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: white;
        }
    }

}

@media (max-width: 400px){

    .promo{
        padding-left: 15px;
        padding-right: 15px;
        height: 40px;


        &__cap{
            display: none;
        }

        &__sidesCont{
            width: 0%;
        }

        &__centerCont{
            width: 100%;
        }
    
        &__discount{
            display: none;
        }

        &__text{
            text-align: center;
            margin-left: 0px;
            font-family: 'Dosis', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: white;
        }
    }

}