.promo{
    display: flex;
    width: 100%;
    padding: 0px 30px;
    align-items: center;
    background: linear-gradient(90deg,#BFBFBF,#000000);
    position: relative;

    &__sidesCont{
        width: 20%;
    }

    &__centerCont{
        width: 60%;
        text-align: center;
    }
    

    &__cap{
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0px;
        top: -30px;
    }

    &__text{
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: white;
    }
}