.references{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;

@media(max-width: 850px){
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    
}
}

.person{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image{
        width: 500px;
        height: 300px;

        &--jBalvin{
            width: 530px;
        }
    }

@media (max-width: 1150px) {

    &__image{
        width: 400px;
        height: 250px;
    
        &--jBalvin{
            width: 430px;
        }
    
    }
}

@media (max-width: 850px) {

    width: 100%;

    &--jBalvin{
        align-items: flex-start;
    }

    &--karolG{
        margin-top: 20px;
        align-items: flex-end;
    }


    &__image{
        width: 500px;
        height: 300px;
        order: 1;
    
        &--jBalvin{
            width: 530px;
        }
    
    }
}

@media (max-width: 650px) {

    width: 100%;

    &--jBalvin{
        align-items: flex-start;
    }

    &--karolG{
        margin-top: 20px;
        align-items: flex-end;
    }


    &__image{
        width: 500px;
        height: 25 0px;
        order: 1;
    
        &--jBalvin{
            width: 530px;
        }
    
    }
}

@media (max-width: 400px) {

    width: 100%;

    &--jBalvin{
        align-items: flex-start;
    }

    &--karolG{
        margin-top: 20px;
        align-items: flex-end;
    }


    &__image{
        width: 500px;
        height: 190px;
        order: 1;
    
        &--jBalvin{
            width: 530px;
        }
    
    }
}

}