.row{
    display: flex;
    padding: 30px;

    
    &__col{
        width: 33%;
        display: flex;
        justify-content: center;

        &--btn{
            padding-left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--colors{
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        &--char{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        
    }

   &--characteristics{
        padding: 10px 30px 20px 30px;
        background-color: $btnBlack;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   &__charWrap{
       width: 100%;
       display: flex;
       justify-content: space-between;
   }

}

.colorBtnsWrap{
    display: flex;
   //justify-content: space-evenly;
    padding: 20px;

    &--logo{
        justify-content: flex-start;
    }

    @media(max-width: 1500px){
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 1080px){
    .row{
            display: flex;
            flex-direction: column;
            padding: 30px;

        &__col{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            &--btn{
                padding-left: 0px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

@media(max-width: 850px){
    .row{
        display: flex;
        flex-direction: column;
        padding: 30px;
        
        &--characteristics{
            padding: 20px 30px;
            background-color: $btnBlack;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
       }

       &__charWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    }
}
