@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.landingBody {
  background-color: #F2F2F2;
  position: relative;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

h1, h2, h3, h4 {
  font-family: 'Kanit', sans-serif;
}

a {
  text-decoration: none;
}

.normalText {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #333;
}

.normalText--details {
  margin-bottom: 20px;
  font-size: 25px;
}

.normalText--negative {
  color: white;
}

.normalText--grey {
  color: #B3B3B3;
  margin-left: 40px;
}

.normalText--footerDownGrey {
  color: #B3B3B3;
  font-size: 16px;
  margin-right: 50px;
}

.normalText--footerDown {
  color: white;
  font-size: 16px;
  margin-right: 50px;
}

.title {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.title--details {
  margin-bottom: 20px;
}

.title--negative {
  color: white;
  margin-top: 20px;
}

.title--filter {
  font-size: 23px;
}

.title--sum {
  border-bottom: black solid 1px;
}

.hidden {
  display: none;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 1150px) {
  h1 {
    font-size: 33px;
  }
  h3 {
    font-size: 23px;
  }
  .title {
    font-size: 19px;
  }
  .normalText {
    font-size: 18px;
  }
  .normalText--footerDownGrey {
    font-size: 15px;
  }
  .normalText--footerDown {
    font-size: 15px;
  }
}

@media (max-width: 1040px) {
  .normalText--footerDown {
    font-size: 15px;
    margin-right: 15px;
  }
  .normalText--footerDownGrey {
    font-size: 15px;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  h1, h2, h3, h4 {
    font-family: 'Kanit', sans-serif;
  }
  a {
    text-decoration: none;
  }
  .normalText {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: #333;
  }
  .normalText--negative {
    color: white;
    margin-top: 10px;
  }
  .normalText--grey {
    color: #B3B3B3;
    margin-left: 0px;
    position: absolute;
    text-align: center;
    top: 50px;
  }
  .normalText--footerDownGrey {
    color: #B3B3B3;
    font-size: 16px;
    margin-right: 0px;
  }
  .normalText--footerDown {
    color: white;
    font-size: 16px;
    margin-right: 0px;
  }
  .title {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
  }
  .title--negative {
    color: white;
    margin-top: 20px;
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .title {
    font-size: 18px;
    margin-top: 10px;
  }
  .title--sum {
    border-bottom: black solid 1px;
    margin-top: 20px;
  }
  .normalText {
    font-size: 18px;
  }
  .normalText--negative {
    font-size: 15px;
  }
  .normalText--footerDownGrey {
    color: #B3B3B3;
    font-size: 14px;
    margin-right: 0px;
  }
  .normalText--footerDown {
    color: white;
    font-size: 14px;
    margin-right: 0px;
  }
}

.mainHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #0000004f solid 1px;
}

.mainHeader__logoCont {
  width: 100px;
  margin-right: 30px;
}

.mainHeader__logo {
  min-width: 100px;
  height: 90px;
  padding: 15px 0px 15px 30px;
}

.mainHeader__nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.mainHeader__navDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader__navItem {
  margin-right: 50px;
  color: #333;
}

.mainHeader__navItem p {
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
}

.mainHeader .loginNav {
  margin-right: 30px;
  color: #333;
}

.mainHeader .loginNav p {
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
}

.mainHeader__inputDiv {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader__input {
  border-radius: 7px;
  height: 30px;
  border-width: 1px;
  margin-right: 30px;
}

.mainHeader__searchIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 190px;
  top: 5px;
}

.mainHeader .move {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 130px;
  top: 22px;
}

@media (max-width: 380px) {
  .mainHeader .move {
    right: -150px;
    top: 8px;
  }
}

.mainHeader__bagIcon {
  width: 20px;
  height: 27px;
}

.mainHeader__menuIcon {
  display: none;
}

@media (max-width: 1150px) {
  .mainHeader p {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .mainHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: #0000004f solid 1px;
  }
  .mainHeader__logoCont {
    width: 100px;
  }
  .mainHeader__logo {
    min-width: 100px;
    height: 90px;
    padding: 15px 0px 15px 30px;
  }
  .mainHeader__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
  }
  .mainHeader__navDiv {
    display: none;
  }
  .mainHeader__navItem {
    display: none;
  }
  .mainHeader__inputDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .mainHeader__input {
    display: none;
  }
  .mainHeader__searchIcon {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 130px;
  }
  .mainHeader__menuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 55px;
  }
}

@media (max-width: 650px) {
  .mainHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: #0000004f solid 1px;
  }
  .mainHeader__logoCont {
    width: 70px;
  }
  .mainHeader__logo {
    min-width: 80px;
    height: 75px;
    padding: 15px 0px 15px 30px;
  }
  .mainHeader__searchIcon {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0px;
    right: 90px;
  }
  .mainHeader__menuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 45px;
  }
}

@media (max-width: 380px) {
  .mainHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: #0000004f solid 1px;
  }
  .mainHeader__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mainHeader__inputDiv {
    width: 35%;
  }
  .mainHeader__logoCont {
    width: 70px;
  }
  .mainHeader__logo {
    min-width: 65px;
    height: 65px;
    padding: 15px 0px 15px 20px;
  }
  .mainHeader__searchIcon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 6px;
    right: -130px;
  }
  .mainHeader__menuIcon {
    display: none;
  }
  .mainHeader__bagIcon {
    position: absolute;
    width: 15px;
    height: 22px;
    top: 6px;
    right: -100px;
  }
}

.mainBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainBanner__imageCont {
  padding-left: 50px;
  width: 50%;
}

.mainBanner__image {
  width: 1000px;
  max-height: 100%;
  margin: 20px 0px;
}

.mainBanner__textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.mainBanner__textCont {
  width: 70%;
  height: 30%;
}

@media (max-width: 850px) {
  .mainBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 20px 30px;
  }
  .mainBanner__imageCont {
    width: 100%;
    padding: 0px;
  }
  .mainBanner__image {
    width: 1000px;
    max-height: 100%;
    margin: 0px;
  }
  .mainBanner__textWrap {
    padding-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainBanner__textCont {
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

.btnSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.btn {
  width: 175px;
  height: 45px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
  margin-right: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: none;
}

.btn:hover {
  background-color: #f3ebf1;
  color: #0D0D0D;
  border: #0D0D0D solid 1px;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.btn--secondary {
  width: 335px;
  height: 45px;
  margin: 0;
}

.btn--transparent {
  background-color: transparent;
}

.btn--sum {
  height: 30px;
  margin-right: 0px;
}

.btn__mini {
  width: 35px;
  height: 35px;
  border-color: #00000056;
  border-radius: 5px;
  margin: 10px 10px;
}

.btn__mini:hover {
  opacity: 70%;
}

.btn__mini--black {
  background-color: #000000;
}

.btn__mini--white {
  background-color: #ffffff;
}

.btn__mini--red {
  background-color: #C1272D;
}

.btn__mini--blue {
  background-color: #0071BC;
}

.btn__mini--green {
  background-color: #009245;
}

.btn__mini--yellow {
  background-color: #FCEE21;
}

.btn__mini--orange {
  background-color: #F7931E;
}

.btn__mini--brown {
  background-color: #754C24;
}

.btn__mini--white2 {
  background-color: #ffffff;
  margin-left: 30px;
}

.btn__mini--black2 {
  background-color: #000000;
  margin-left: 30px;
}

@media (max-width: 1150px) {
  .btn {
    height: 35px;
    font-size: 18px;
  }
  .btn--secondary {
    width: 270px;
  }
}

@media (max-width: 850px) {
  .btnSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
  .btn {
    width: 175px;
    height: 45px;
    background-color: #0D0D0D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    border-radius: 6px;
    margin-right: 30px;
  }
  .btn--secondary {
    width: 335px;
    height: 45px;
    margin: 0;
  }
}

@media (max-width: 380px) {
  .btn {
    width: 110px;
    height: 35px;
    font-size: 16px;
  }
  .btn--secondary {
    width: 250px;
    height: 35px;
    margin: 0;
  }
  .btn--carrito {
    margin: 0px;
    width: 200px;
    margin-bottom: 20px;
  }
  .btn--sum {
    height: 30px;
    margin-right: 0px;
    width: 150px;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#BFBFBF), to(#000000));
  background: linear-gradient(90deg, #BFBFBF, #000000);
  position: relative;
}

.promo__sidesCont {
  width: 20%;
}

.promo__centerCont {
  width: 60%;
  text-align: center;
}

.promo__cap {
  position: absolute;
  width: 180px;
  height: 180px;
  right: 10px;
  top: -27px;
}

.promo__text {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

@media (max-width: 1300px) {
  .promo__cap {
    position: absolute;
    width: 170px;
    height: 170px;
    right: 0px;
    top: -20px;
  }
  .promo__discount {
    width: 169px;
    height: 111px;
  }
  .promo__text {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: white;
  }
}

@media (max-width: 1150px) {
  .promo__cap {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 0px;
    top: -20px;
  }
  .promo__discount {
    width: 145px;
    height: 91px;
  }
  .promo__text {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
}

@media (max-width: 850px) {
  .promo {
    padding-left: 20px;
  }
  .promo__cap {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 10px;
    top: -20px;
  }
  .promo__discount {
    width: 120px;
    height: 80px;
  }
}

@media (max-width: 650px) {
  .promo {
    padding-left: 20px;
  }
  .promo__cap {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 10px;
    top: -10px;
  }
  .promo__discount {
    width: 100px;
    height: 60px;
  }
  .promo__text {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
  }
}

@media (max-width: 400px) {
  .promo {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
  }
  .promo__cap {
    display: none;
  }
  .promo__sidesCont {
    width: 0%;
  }
  .promo__centerCont {
    width: 100%;
  }
  .promo__discount {
    display: none;
  }
  .promo__text {
    text-align: center;
    margin-left: 0px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.row__col {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row__col--detalles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row__col--btn {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__col--colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.row__col--char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--characteristics {
  padding: 10px 30px 20px 30px;
  background-color: #0D0D0D;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__charWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colorBtnsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.colorBtnsWrap--logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1500px) {
  .colorBtnsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .row__col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .row__col--btn {
    padding-left: 0px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 850px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .row--characteristics {
    padding: 20px 30px;
    background-color: #0D0D0D;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row__charWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 380px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .row__col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row__col--detalles {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .row__col--details {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.image__interactiveLogo {
  position: absolute;
  max-width: 31.5%;
}

.image__firstChar {
  margin-top: 20px;
  width: 300px;
  height: 220px;
}

.image__secondChar {
  margin-top: 20px;
  width: 220px;
  height: 220px;
}

.image__thirdChar {
  margin-top: 20px;
  width: 300px;
  height: 220px;
}

@media (max-width: 850px) {
  .image__firstChar {
    margin-top: 20px;
    width: 400px;
    height: 290px;
  }
  .image__secondChar {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
  .image__thirdChar {
    margin-top: 20px;
    width: 400px;
    height: 290px;
  }
}

.image__social {
  margin-left: 0px;
  margin: 0px 10px;
}

@media (max-width: 1080px) {
  .image__interactive {
    max-width: 350px;
  }
  .image__interactiveLogo {
    position: absolute;
    max-width: 350px;
    top: 0px;
  }
}

@media (max-width: 400px) {
  .image__interactive {
    width: 80%;
  }
  .image__interactiveLogo {
    width: 80%;
  }
  .image__firstChar {
    margin-top: 20px;
    width: 80%;
    height: 80%;
  }
  .image__secondChar {
    margin-top: 20px;
    width: 80%;
    height: 80%;
  }
  .image__thirdChar {
    margin-top: 20px;
    width: 80%;
    height: 80%;
  }
}

.references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 850px) {
  .references {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 30px;
  }
}

.person {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__image {
  width: 500px;
  height: 300px;
}

.person__image--jBalvin {
  width: 530px;
}

@media (max-width: 1150px) {
  .person__image {
    width: 400px;
    height: 250px;
  }
  .person__image--jBalvin {
    width: 430px;
  }
}

@media (max-width: 850px) {
  .person {
    width: 100%;
  }
  .person--jBalvin {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .person--karolG {
    margin-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .person__image {
    width: 500px;
    height: 300px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .person__image--jBalvin {
    width: 530px;
  }
}

@media (max-width: 650px) {
  .person {
    width: 100%;
  }
  .person--jBalvin {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .person--karolG {
    margin-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .person__image {
    width: 500px;
    height: 25 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .person__image--jBalvin {
    width: 530px;
  }
}

@media (max-width: 400px) {
  .person {
    width: 100%;
  }
  .person--jBalvin {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .person--karolG {
    margin-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .person__image {
    width: 500px;
    height: 190px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .person__image--jBalvin {
    width: 530px;
  }
}

.subscribe {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 335px;
  height: 40px;
  border-radius: 7px;
  margin-bottom: 20px;
  border-width: 1px;
}

.input__checkBox {
  width: 18px;
  height: 18px;
}

.input__details {
  height: 200px;
  border-radius: 7px;
  margin-bottom: 20px;
  border-width: 1px;
}

@media (max-width: 1150px) {
  .input {
    height: 35px;
    width: 270px;
  }
}

@media (max-width: 850px) {
  .input {
    height: 40px;
    width: 335px;
  }
}

@media (max-width: 380px) {
  .input {
    width: 250px;
    height: 35px;
    margin: 0px;
  }
  .input__checkBox {
    width: 18px;
    height: 18px;
    margin: 5px;
  }
}

.footer {
  padding: 30px 30px 15px 30px;
  background-color: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__itemsWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__navWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__navWrap--down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__nav {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socialWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1150px) {
  .footer__imageLogo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 850px) {
  .footer {
    padding: 30px 30px 15px 30px;
    background-color: #0D0D0D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .footer__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 360px;
  }
  .footer__itemsWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__imageLogo {
    width: 200px;
    height: 200px;
  }
  .footer__navWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__navWrap--down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
  }
  .footer__nav {
    margin-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__socialWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer__nav {
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  .footer__itemsWrap {
    margin: 0px;
  }
}

.productContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
}

@media (max-width: 380px) {
  .productContainer {
    width: 100%;
  }
}

.titles {
  position: relative;
  margin-top: 20px;
}

.titles__background {
  width: 20%;
}

.titles__text {
  color: white;
  position: absolute;
  top: 5px;
  left: 40px;
}

@media (max-width: 380px) {
  .titles__background {
    width: 50%;
  }
  .titles__text {
    color: white;
    position: absolute;
    top: -5px;
    left: 20px;
  }
}

.productsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.product {
  width: 20%;
  margin: 10px;
  position: relative;
}

.product__img {
  border-radius: 10px;
}

.product__details {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #333;
  margin-top: 20px;
}

.product__newProduct {
  height: 200px;
  width: 20%;
}

.product__addBtn {
  width: 215px;
  height: 45px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
  margin-right: 30px;
}

.product__editBtn {
  width: 100px;
  height: 30px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
}

.product__deleteBtn {
  width: 100px;
  height: 30px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
}

.product__name {
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  font-size: 21px;
}

.product__price {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

@media (max-width: 380px) {
  .product {
    width: 40%;
  }
  .product__name {
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
  }
  .product__price {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
  }
  .product__addBtn {
    width: 125px;
    height: 35px;
    background-color: #0D0D0D;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    border-radius: 6px;
    margin-right: 0px;
  }
  .product__editBtn {
    font-size: 16px;
    font-weight: 700;
  }
  .product__deleteBtn {
    font-size: 16px;
    font-weight: 700;
  }
  .product__newProduct {
    height: 130px;
    width: 40%;
  }
}

.mainBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
}

.mainBody--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.title--negative {
  color: white;
  margin-top: 20px;
}

.title--filter {
  font-size: 22px;
}

.hidden {
  display: none;
}

@media (max-width: 380px) {
  .mainBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 30px;
  }
  .mainBody--details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filter {
  width: 25%;
  padding-left: 30px;
  margin-top: 55px;
  padding-right: 30px;
}

.filter__title {
  border-bottom: black 1px solid;
}

.filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 380px) {
  .filter {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
  }
  .filter__title {
    border-bottom: black 1px solid;
  }
  .filter__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form--newPro {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form__img {
  width: 30%;
  margin-right: 20px;
}

.form__previewImg {
  border-radius: 10px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.form__btn {
  width: 335px;
  height: 45px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.form__btn--transparent {
  background-color: transparent;
  color: #0D0D0D;
  border: none;
  margin-right: 20px;
}

.form__error {
  color: red;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
}

@media (max-width: 380px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form--newPro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .form__img {
    width: 30%;
    margin-right: 20px;
  }
  .form__previewImg {
    border-radius: 10px;
  }
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .form__btn {
    width: 250px;
    height: 35px;
    background-color: #0D0D0D;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .form__btn--transparent {
    background-color: transparent;
    color: #0D0D0D;
    border: none;
    margin-right: 20px;
  }
  .form__error {
    color: red;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
  }
}

.auth__without p {
  color: #333;
  font-family: 'Dosis', sans-serif;
  margin-right: 30px;
  font-weight: 500;
  font-size: 22px;
}

.auth__with {
  margin-right: 30px;
}

.auth__with p {
  color: #333;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

@media (max-width: 380px) {
  .auth__without p {
    color: #333;
    font-family: 'Dosis', sans-serif;
    margin-right: 0px;
    font-weight: 500;
    font-size: 16px;
  }
  .auth__with {
    margin-right: 20px;
  }
  .auth__with p {
    color: #333;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 13px;
  }
  .auth__profileIcon {
    width: 30px;
    height: 30px;
  }
}

.carContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.car__title {
  margin-right: 200px;
}

.carProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carProduct__img {
  width: 130px;
  height: 120px;
  border-radius: 10px;
  margin-right: 20px;
}

.carProduct__text {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #333;
  margin-right: 60px;
}

.carProduct__price {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  margin-left: 110px;
  margin-right: 100px;
}

.carProduct__price--total {
  color: #04b804;
}

.carProduct__delete {
  width: 100px;
  height: 30px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
  border: none;
}

.summaryContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.summary {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 20px;
}

.summary__div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.summary__div--sub {
  border-bottom: solid black 1px;
  margin-bottom: 10px;
}

@media (max-width: 380px) {
  .car__info {
    display: none;
  }
  .car__title {
    margin-right: 0px;
  }
  .carProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: black solid 1px;
  }
  .carProduct__img {
    margin-right: 0px;
    margin-top: 20px;
  }
  .carProduct__text {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: #333;
    margin-right: 0px;
  }
  .carProduct__price {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
  }
  .carProduct__delete {
    font-size: 18px;
    font-weight: 500;
    border: none;
    margin-bottom: 10px;
  }
  .summaryContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .summary {
    width: 100%;
    padding-right: 0px;
  }
  .summary__div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .summary__div--sub {
    border-bottom: solid black 1px;
    margin-bottom: 10px;
  }
}

.profile {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #cccccc;
  right: 0;
  top: 0;
  width: 150px;
  height: 500px;
  padding: 20px;
}

.profile__img {
  width: 70px;
  height: 70px;
  margin-bottom: 40px;
}

.profile__name {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #333;
}

.orderItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
}

.orderItem__text {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #333;
  margin-right: 200px;
}

.orderItem__text--adress {
  margin-right: 100px;
}

.orderItem__price {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  color: #04b804;
}

.orderItem__product {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  margin-right: 180px;
}

@media (max-width: 380px) {
  .orderItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    border-bottom: solid black 1px;
  }
  .orderItem__price {
    font-size: 20px;
  }
  .orderItem__product {
    font-size: 20px;
  }
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves
 *
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https: */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.8) 60%, white 70%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-btn,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-btn,
.waves-btn:hover,
.waves-btn:visited,
.waves-btn-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-btn {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-btn-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-btn {
  padding: 0;
}

.waves-input-wrapper .waves-btn-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

.flip-box {
  background-color: transparent;
  width: 100px;
  height: 100px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.interactionContainer {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../Images/interaction.png");
  background-size: cover;
}

.titulo {
  position: absolute;
  top: 270px;
  right: 720px;
}

.Subtitulo {
  position: absolute;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  top: 330px;
  right: 675px;
}

.triangleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 25%;
}

.triangleB {
  background-image: url("../Images/triangleB.png");
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 15px;
  top: 106px;
<<<<<<< HEAD
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
=======
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
>>>>>>> 9f8f4e61d7733f7e41389a1887fe7533d7d6a082
}

.triangleB:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("../Images/triangleRed.png");
}

.triangleB--mod {
  left: 237px;
  top: 333px;
<<<<<<< HEAD
  -webkit-transition: .0s ease;
  transition: .0s ease;
=======
  -webkit-transition: 0s;
  transition: 0s;
>>>>>>> 9f8f4e61d7733f7e41389a1887fe7533d7d6a082
}

.triangleB--mod:hover {
  width: 64px;
  height: 74px;
  top: 355px;
  left: 238px;
  background-image: url("../Images/triangleWhite.png");
}

.triangleA {
  background-image: url("../Images/triangleA.png");
  background-size: cover;
  position: absolute;
  width: 68px;
  height: 78px;
  left: -2px;
  bottom: 64px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.triangleA:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-image: url("../Images/triangleBlue.png");
}

.triangleA--mod {
  width: 70px;
  height: 80px;
  left: 30px;
  bottom: 295px;
}

.triangleA--mod:hover {
  background-image: url("../Images/triangleOrange.png");
}

.overlay {
  background-color: #00000030;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popUp {
  height: 250px;
  width: 300px;
  background-image: url("../Images/beisRed.png");
  background-size: contain;
  -webkit-box-shadow: 0px 0px 5px 0px #00000030;
          box-shadow: 0px 0px 5px 0px #00000030;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.popUp--blue {
  background-image: url("../Images/beisBlue.png");
}

.popUp--white {
  background-image: url("../Images/beisWhite.png");
}

.popUp--orange {
  background-image: url("../Images/beisOrange.png");
}

.closePopUp {
  text-decoration: none;
  color: #bbbbbb;
  line-height: 16px;
  display: block;
  text-align: right;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.closePopUp:hover {
  color: #111111;
}

.popUp.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=main.css.map */