@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap");
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.landingBody {
  background-color: #F2F2F2;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

h1, h2, h3, h4 {
  font-family: 'Kanit', sans-serif;
}

a {
  text-decoration: none;
}

.normalText {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #333;
}

.normalText--negative {
  color: white;
}

.normalText--grey {
  color: #B3B3B3;
  margin-left: 40px;
}

.normalText--footerDownGrey {
  color: #B3B3B3;
  font-size: 16px;
  margin-right: 50px;
}

.normalText--footerDown {
  color: white;
  font-size: 16px;
  margin-right: 50px;
}

.title {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.title--negative {
  color: white;
  margin-top: 20px;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 1150px) {
  h1 {
    font-size: 33px;
  }
  h3 {
    font-size: 23px;
  }
  .title {
    font-size: 19px;
  }
  .normalText {
    font-size: 18px;
  }
  .normalText--footerDownGrey {
    font-size: 15px;
  }
  .normalText--footerDown {
    font-size: 15px;
  }
}

@media (max-width: 1040px) {
  .normalText--footerDown {
    font-size: 15px;
    margin-right: 15px;
  }
  .normalText--footerDownGrey {
    font-size: 15px;
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  h1, h2, h3, h4 {
    font-family: 'Kanit', sans-serif;
  }
  a {
    text-decoration: none;
  }
  .normalText {
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    color: #333;
  }
  .normalText--negative {
    color: white;
    margin-top: 10px;
  }
  .normalText--grey {
    color: #B3B3B3;
    margin-left: 0px;
    position: absolute;
    text-align: center;
    top: 50px;
  }
  .normalText--footerDownGrey {
    color: #B3B3B3;
    font-size: 16px;
    margin-right: 0px;
  }
  .normalText--footerDown {
    color: white;
    font-size: 16px;
    margin-right: 0px;
  }
  .title {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
  }
  .title--negative {
    color: white;
    margin-top: 20px;
  }
}

.mainHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #0000004f solid 1px;
}

.mainHeader__logoCont {
  width: 100px;
  margin-right: 30px;
}

.mainHeader__logo {
  min-width: 100px;
  height: 90px;
  padding: 15px 0px 15px 30px;
}

.mainHeader__nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.mainHeader__navDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.mainHeader__navItem {
  margin-right: 50px;
  color: #333;
}

.mainHeader__navItem p {
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
}

.mainHeader__inputDiv {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.mainHeader__input {
  border-radius: 7px;
  height: 30px;
  border-width: 1px;
  margin-right: 30px;
}

.mainHeader__searchIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 175px;
  top: 5px;
}

.mainHeader__menuIcon {
  display: none;
}

@media (max-width: 1150px) {
  .mainHeader p {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .mainHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: #0000004f solid 1px;
  }
  .mainHeader__logoCont {
    width: 100px;
  }
  .mainHeader__logo {
    min-width: 100px;
    height: 90px;
    padding: 15px 0px 15px 30px;
  }
  .mainHeader__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
  }
  .mainHeader__navDiv {
    display: none;
  }
  .mainHeader__navItem {
    display: none;
  }
  .mainHeader__inputDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .mainHeader__input {
    display: none;
  }
  .mainHeader__searchIcon {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 130px;
  }
  .mainHeader__menuIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width: 55px;
  }
}

.mainBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainBanner__imageCont {
  padding-left: 50px;
  width: 50%;
}

.mainBanner__image {
  width: 1000px;
  max-height: 100%;
  margin: 20px 0px;
}

.mainBanner__textWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
}

.mainBanner__textCont {
  width: 70%;
  height: 30%;
}

@media (max-width: 850px) {
  .mainBanner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 20px 30px;
  }
  .mainBanner__imageCont {
    width: 100%;
    padding: 0px;
  }
  .mainBanner__image {
    width: 1000px;
    max-height: 100%;
    margin: 0px;
  }
  .mainBanner__textWrap {
    padding-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainBanner__textCont {
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

.btnSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.btn {
  width: 175px;
  height: 45px;
  background-color: #0D0D0D;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  border-radius: 6px;
  margin-right: 30px;
}

.btn--secondary {
  width: 335px;
  height: 45px;
  margin: 0;
}

.btn__mini {
  width: 35px;
  height: 35px;
  border-color: #00000056;
  border-radius: 5px;
  margin: 10px 10px;
}

.btn__mini:hover {
  opacity: 70%;
}

.btn__mini--black {
  background-color: #000000;
}

.btn__mini--white {
  background-color: #ffffff;
}

.btn__mini--red {
  background-color: #C1272D;
}

.btn__mini--blue {
  background-color: #0071BC;
}

.btn__mini--green {
  background-color: #009245;
}

.btn__mini--yellow {
  background-color: #FCEE21;
}

.btn__mini--orange {
  background-color: #F7931E;
}

.btn__mini--brown {
  background-color: #754C24;
}

.btn__mini--white2 {
  background-color: #ffffff;
  margin-left: 30px;
}

.btn__mini--black2 {
  background-color: #000000;
  margin-left: 30px;
}

@media (max-width: 1150px) {
  .btn {
    height: 35px;
    font-size: 18px;
  }
  .btn--secondary {
    width: 270px;
  }
}

@media (max-width: 850px) {
  .btnSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
  }
  .btn {
    width: 175px;
    height: 45px;
    background-color: #0D0D0D;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    border-radius: 6px;
    margin-right: 30px;
  }
  .btn--secondary {
    width: 335px;
    height: 45px;
    margin: 0;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#BFBFBF), to(#000000));
  background: linear-gradient(90deg, #BFBFBF, #000000);
  position: relative;
}

.promo__sidesCont {
  width: 20%;
}

.promo__centerCont {
  width: 60%;
  text-align: center;
}

.promo__cap {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0px;
  top: -30px;
}

.promo__text {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

@media (max-width: 1300px) {
  .promo__cap {
    position: absolute;
    width: 170px;
    height: 170px;
    right: 0px;
    top: -20px;
  }
  .promo__discount {
    width: 169px;
    height: 111px;
  }
  .promo__text {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: white;
  }
}

@media (max-width: 1150px) {
  .promo__cap {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 0px;
    top: -20px;
  }
  .promo__discount {
    width: 145px;
    height: 91px;
  }
  .promo__text {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
  }
}

@media (max-width: 850px) {
  .promo {
    padding-left: 20px;
  }
  .promo__cap {
    position: absolute;
    width: 120px;
    height: 120px;
    right: 10px;
    top: -20px;
  }
  .promo__discount {
    width: 120px;
    height: 80px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.row__col {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row__col--btn {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__col--colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.row__col--char {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row--characteristics {
  padding: 10px 30px 20px 30px;
  background-color: #0D0D0D;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row__charWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colorBtnsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.colorBtnsWrap--logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1500px) {
  .colorBtnsWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .row__col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .row__col--btn {
    padding-left: 0px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 850px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .row--characteristics {
    padding: 20px 30px;
    background-color: #0D0D0D;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row__charWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.image__interactiveLogo {
  position: absolute;
  max-width: 31.5%;
}

.image__firstChar {
  margin-top: 20px;
  width: 300px;
  height: 220px;
}

.image__secondChar {
  margin-top: 20px;
  width: 220px;
  height: 220px;
}

.image__thirdChar {
  margin-top: 20px;
  width: 300px;
  height: 220px;
}

@media (max-width: 850px) {
  .image__firstChar {
    margin-top: 20px;
    width: 400px;
    height: 290px;
  }
  .image__secondChar {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
  .image__thirdChar {
    margin-top: 20px;
    width: 400px;
    height: 290px;
  }
}

.image__social {
  margin-left: 0px;
  margin: 0px 10px;
}

@media (max-width: 1080px) {
  .image__interactive {
    max-width: 350px;
  }
  .image__interactiveLogo {
    position: absolute;
    max-width: 350px;
    top: 0px;
  }
}

.references {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 850px) {
  .references {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 30px;
  }
}

.person {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__image {
  width: 500px;
  height: 300px;
}

.person__image--jBalvin {
  width: 530px;
}

@media (max-width: 1150px) {
  .person__image {
    width: 400px;
    height: 250px;
  }
  .person__image--jBalvin {
    width: 430px;
  }
}

@media (max-width: 850px) {
  .person {
    width: 100%;
  }
  .person--jBalvin {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .person--karolG {
    margin-top: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .person__image {
    width: 500px;
    height: 300px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .person__image--jBalvin {
    width: 530px;
  }
}

.subscribe {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 335px;
  height: 40px;
  border-radius: 7px;
  margin-bottom: 20px;
  border-width: 1px;
}

@media (max-width: 1150px) {
  .input {
    height: 35px;
    width: 270px;
  }
}

@media (max-width: 850px) {
  .input {
    height: 40px;
    width: 335px;
  }
}

.footer {
  padding: 30px 30px 15px 30px;
  background-color: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__itemsWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__navWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__navWrap--down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__nav {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socialWrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1150px) {
  .footer__imageLogo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 850px) {
  .footer {
    padding: 30px 30px 15px 30px;
    background-color: #0D0D0D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .footer__up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 360px;
  }
  .footer__itemsWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__imageLogo {
    width: 200px;
    height: 200px;
  }
  .footer__navWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__navWrap--down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
  }
  .footer__nav {
    margin-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__socialWrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */