@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,800&display=swap');

$textBlack: #333;
$btnBlack: #0D0D0D;
$footerGrey: #B3B3B3;

@import 'reset';
@import 'mainBody';
@import 'mainHeader';
@import 'banner';
@import 'btn';
@import 'promo';
@import 'row';
@import 'images';
@import 'references';
@import 'subscribe';
@import 'input';
@import 'footer';
@import 'products';
@import 'bodyMain';
@import 'filter';
@import 'form';
@import 'modal';
@import 'auth';

